<div class="col-xs-12">

  <h2>Names are loaded</h2>

  <ul class="list-group">
    <li class="list-group-item">{{names[0]}}</li>
    <li class="list-group-item">{{names[1]}}</li>
    <li class="list-group-item">{{names[2]}}</li>

    <li class="list-group-item">{{getNewName()}}</li>
  </ul>

  <div class="form-group">
    <label>New name
      <!--<input type="text" class="form-control" [placeholder]="namePlaceholder" (input)="onInputNewName($event)">-->
      <input type="text" class="form-control" [placeholder]="namePlaceholder" [(ngModel)]="newName">
    </label>
    <p>{{newName}}</p>
  </div>

  <button class="btn btn-primary" [disabled]="isAddDisabled" (click)="onClickAddName()">Add</button>

</div>
