<div class="col-xs-12">

  <h2>Names are loaded</h2>

  <ul class="list-group" [ngStyle]="{border: getListBorder(), borderRadius: '5px'}">

    <li class="list-group-item" *ngFor="let name of names; let i = index" [ngClass]="{active: i > 2}">
      {{name}}
    </li>

  </ul>

  <div class="form-group">
    <label>New name
      <input type="text" class="form-control" [placeholder]="namePlaceholder" [(ngModel)]="newName"
             (click)="onClickInput()">
    </label>

    <div class="alert alert-danger" role="alert" *ngIf="shouldDisplayAlert">You are trying to add an empty name</div>

  </div>

  <button class="btn btn-primary" (click)="onClickAddName()">Add</button>

</div>
